:root {
  --t-fast: 0.5s;
  --t-med: 0.8s;
  --t-slow: 1s;
  --easing: cubic-bezier(.2,.3,.5,1); 
}
.logo {
  position: fixed;
  color:white;
  text-decoration: none;
  top: 15px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
}

.homelogo {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  column-gap: 0;
  justify-items: center;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 0px 4px;
  cursor: pointer;
  transition: all var(--t-med) var(--easing);
}
.homelogo::before,
.homelogo::after{
  display: inline-blocks;
  content:"";
  transition: all var(--t-med) var(--easing);
}
.homelogo::before{
  content:"[";
  grid-column: 1;
}
.homelogo::after{
  content:"]";
  grid-column: 3;
}
.homelogo:hover{
  column-gap: 1rem;
  color: black;
  background-color: white;
  /*transition: all var(--t-med) var(--easing);*/
}
.homelogo:hover::before{
  transform: translateX(-3px);
  transition: all var(--t-med) var(--easing);
}
.homelogo:hover::after{
  transform: translateX(3px);
  transition: all var(--t-med) var(--easing);
}

.homelogo .text-default{
  opacity: 1;
}

.homelogo .text-hover{
  opacity: 0;
}

.homelogo > .text-default,
.homelogo > .text-hover {
  grid-column: 2;
  grid-row: 1;
  white-space: nowrap;
  transition: all var(--t-med) var(--easing);
}

.homelogo:hover .text-default{
  opacity:0;
}

.homelogo:hover .text-hover{
  opacity:1;
}
/*homelogo*/
l {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all var(--t-fast) var(--easing);
  padding: 1px;
  cursor: pointer;

}
l:hover{
  background-color: white;
  color: black;
  letter-spacing: .1rem;

}

l::before,
l::after{
  content:"";
  position: relative;
  transition: all var(--t-fast) var(--easing);
}

l::before{
  content:"[";
  margin-right:1px;
}

l::after {
  content:"]";
  margin-left:1px;
}
l:hover::before{
  content:"[";
  margin-right:1rem;
  transition: all var(--t-fast) var(--easing);
}
l:hover::after{
  content:"]";
  margin-left:1rem;
  transition: all var(--t-fast) var(--easing);
}

a {
  position: relative;
  color: white;
  text-decoration: none;
}

a::before,
a::after{
  content:"";
  position: relative;
  transition: all var(--t-fast) var(--easing);
}

a::before{
  content:"[";
  margin-right:2px;
}

a::after {
  content:"]";
  margin-left:2px;
}
a:hover::before{
  margin-right:12px;
}
a:hover::after{
  margin-left:12px;
}
p {
  margin-bottom:-16px;
}

.writing_box{
  width:50vw;
  height:fit-content;
  border:3px solid white;
  padding: 4px;
  transform: translateX(70%);
  margin-top:4px;
  margin-bottom:4px;
  display:flex;
  align-items: stretch;
  justify-content: stretch;
  white-space: normal;
  word-break: break-all;
}
