:root {
  --t-fast: 0.5s;
  --t-med: 0.8s;
  --t-slow: 1s;
  --easing: cubic-bezier(.2,.3,.5,1); 
  --accent-color: #FF5e33;
  --header-h: 10px;


}

.page{
  padding-top: var(--var-h);
  justify-content: left;
}

.home-header {
  position: fixed;
  background: black;
  padding: 4px;
  inset: 0px  20px 10px;
  height: var(--header-h);
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1000;
}

.home {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  column-gap: 0;
  justify-items: center;
  color: black;
  background-color: var(--accent-color);
  text-decoration: none;
  padding: 1px 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all var(--t-med) var(--easing);
  
}
.home::before,
.home::after{
  display: inline-blocks;
  content:"";
  transition: all var(--t-med) var(--easing);
}
.home::before{
  content:"[";
  grid-column: 1;
}
.home::after{
  content:"]";
  grid-column: 3;
}
.home:hover{
  column-gap: 2rem;
  color: black;
  background-color: var(--accent-color);
  /*transition: all var(--t-med) var(--easing);*/
}
.home:hover::before{
  transform: translateX(-3px);
  transition: all var(--t-med) var(--easing);
}
.home:hover::after{
  transform: translateX(3px);
  transition: all var(--t-med) var(--easing);
}

.home .text-default{
  opacity: 1;
}

.home .text-hover{
  opacity: 0;
}

.home > .text-default,
.home > .text-hover {
  grid-column: 2;
  grid-row: 1;
  white-space: nowrap;
  transition: all var(--t-med) var(--easing);
}

.home:hover .text-default{
  opacity:0;
}

.home:hover .text-hover{
  opacity:1;
}

/*homelogo*/
l {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all var(--t-fast) var(--easing);
  padding: 1px;
  cursor: pointer;

}
l:hover{
  background-color: white;
  color: black;
  letter-spacing: .1rem;

}

l::before,
l::after{
  content:"";
  position: relative;
  transition: all var(--t-fast) var(--easing);
}

l::before{
  content:" [";
  margin-right:1px;
}

l::after {
  content:"] ";
  margin-left:1px;
}
l:hover::before{
  content:"[";
  margin-right:1rem;
  transition: all var(--t-fast) var(--easing);
}
l:hover::after{
  content:"]";
  margin-left:1rem;
  transition: all var(--t-fast) var(--easing);
}

a {
  position: relative;
  color: white;
  text-decoration: none;
}

a::before,
a::after{
  content:"";
  position: relative;
  transition: all var(--t-fast) var(--easing);

}

a::before{
  content:"  [";
  margin-right:2px;
}

a::after {
  content:"]  ";
  margin-left:2px;
}
a:hover::before{
  margin-right:12px;
}
a:hover::after{
  margin-left:12px;
}
p {
  margin-bottom:-16px;
}

.writing_box{
  width:50vw;
  height:fit-content;
  border:3px solid white;
  padding: 4px;
  transform: translateX(70%);
  margin-top:4px;
  margin-bottom:4px;
  display:flex;
  align-items: stretch;
  justify-content: stretch;
  white-space: normal;
  word-break: break-all;
}
