
body {
    background-color: black;
    color: white;
    font-family: 'Agave Nerd Font';
    text-align: right;
    margin: 20px;
    padding: 0;
    min-height: 100vh;
}

.logo {
  position: fixed;
  color:white;
  text-decoration: none;
  top: 15px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  z-index: 1000;
}

/* Banner box */
.banner {
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid white; /* white border */
    border-radius: 10px;
    margin-top: 100px;
    font-size: 1.5rem;
}

/* Navigation links container */
.nav-links {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5em 0.2em;
  color: white;
  background-color: black;
  border-radius:2px;
  cursor: pointer;
  
}

/* Link styles */
a {
  color: white;
 text-decoration: none;
}

.nav-links a:hover {
  color: black;
  background-color: blue;
  padding: 0.2rem;
  border-radius: 0;

}
