
body {
    background-color: black;
    color: white;
    font-family: Monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Banner box */
.banner {
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid white; /* white border */
    border-radius: 10px;
    margin-top: 100px;
    font-size: 1.5rem;
}

/* Navigation links container */
.nav-links {
    margin-top: 40px;
    font-size: 1rem;
}

/* Link styles */
.nav-links a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.nav-links a:hover, a:focus {
    background-color: white;
    outline: none;
    padding: 0.2em 0.4em;
    border-radius: 4px;
}
