<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{ '/css/font.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <header class="head">
    <div class ="head-row">
      <a href="{{ '/' | append: page.section | append: '/' | relative_url }}" class="link">[../]</a>
    </div>
    <script src="{{ '/scripts/scripts.js' | relative_url }}"></script>
  </header>

  <div class="page">
    {{ content }}
    <div class="foot">
        <a class="ffish" href="/" aria-label="f.fish">
          <span class="f2">f</span>
          <span class="f1">.</span>
          <span class="f4" style="font-weight: 500;">F</span>
          <span class="f0">i</span>
          <span class="f2" style="font-weight: 100;">s</span>
          <span class="f5">h</span>
        </a>
      </div>
    </div>

</body>
</html>
