<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{ '/css/font.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <header class="head">
    <div class ="head-row">
        <a class="ffish" href="/" aria-label="f.fish">
          <span class="f5" style="font-size: 1rem;">f</span>
          <span class="f0" style="font-size: 0.2rem;">·</span>
          <span class="f4" style="font-weight: 100;">F</span>
          <span class="f0" style="font-weight: 200; font-size: 1.5rem;">i</span>
          <span class="f1">s</span>
          <span class="f2" style="font-weight: 300;">h</span>
        </a>
    </div>
    <script src="{{ '/scripts/scripts.js' | relative_url }}"></script>
  </header>

  <div class="page">
    {{ content }}
    <div class="foot">
      </div>
    </div>

</body>
</html>
