---
layout: default
---
<div class="box">
  {% if page.image %}
    <a href="{{ page.image | relative_url }}" target="_blank">
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="box-photo" loading="lazy">
    </a>

    <div class="corner" pos="top-left">{{ page.top_left }}</div>
    <div class="corner" pos="top-right">{{ page.top_right }}</div>
    <div class="corner" pos="bottom-left">{{ page.bottom_left }}</div>
    <div class="corner" pos="bottom-right">{{ page.bottom_right }}</div>
  {% else %}
    <div class="content">
      {{ content }}
    </div>
  {% endif %}
</div>

