<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{ '/css/font.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <header class="head">
    <div class ="head-row">
      <span class="cursor-field">x:<span id="cursorX">0</span></span>
      <a class="head-font" id="head" href="{{'/'|relative_url}}">&lt;</a>
      <span class="cursor-field">y:<span id="cursorY">0</span></span>
      </div>
    <script src="{{ '/scripts/scripts.js' | relative_url }}"></script>
  </header>

  <div class="page">
    {{ content }}
    <div class="foot">
      <div class="foot-font">
        f.F
      </div>
    </div>
  </div>

</body>
</html>
